.menu {
    position: absolute;
    width: 30vw;
    height: 100%;
    left: var(--nav-size);
    background-color: var(--bg-secondary);
    z-index: 1;
    transition: width 200ms;

    display: flex;
    flex-flow: column;
}

.menu > h1 {
    text-transform: capitalize;
}

.hidden {
    width: 0;
}

.menu-header {
    text-align: center;
    overflow: hidden;
    flex: 0 1 auto;
}

.menu-content {
    width: 90%;
    height: auto;
    margin: auto;

    flex: 1 1 auto;
}